.sideName {
	position: absolute;
	color: white;
	font-size: 80px;
	font-family: sans-serif;
	top: 50%;
    transform: translateY(-50%);
}

.sideName.side1 {
	left: 18.8%;
	writing-mode: vertical-rl;
}

.sideName.side2 {
	left: 77%;
	writing-mode: vertical-lr;
}

.pitchBackground {
	position: absolute;
	left: 420px;
	top: 50%;
    transform: translateY(-50%);
	opacity: 0.99;
    height: 1000px;
    width: 1725px;
}

.pitchLayout {
	position: absolute;
	left: 570px;
	top: 50%;
    transform: translateY(-50%);
}

.container {
	width: 2560px;
	height: 770px;
	position: absolute;
	top: 760px;
    transform: translateY(-50%);
	left: 0px
}

.dot {
	position: absolute;
  	height: 40px;
  	width: 40px;
 	border-radius: 50%;
  	display: inline-block;
	border: 2px solid black;
}

.dot.goalieLeft {
	left: 730px;
	top: 365px;
}
.dot.goalieRight {
	right: 745px;
	top: 365px;
}
.dot.playerLeft {
	left: 1175px;
	top: 365px;
}
.dot.playerRight {
	right: 1195px;
	top: 365px;
}

.banner {
	width: 2560px;
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
	top: 0px;
	border-bottom: 5px white solid;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.hidden {left:-2500 !important}
.hiddenBanner {top:-200px !important}
.slow { transition: all 1s ease-out; }
.fast { transition: all 0.5s ease-in; }

.color_1 {background-color: white;}