body
{
    color: black;
    font-family: Tahoma;
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
    font-size: 24px;
}

.border { border: 2px solid black;}

.slow { transition: all 0.50s ease-out; }
.fast { transition: all 0.25s ease-in; }